In [1]:
import requests
import pprint
import json
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np
import xml.etree.ElementTree as ET
from os import name
import xml.etree.ElementTree as et
import pandas as pd
import bs4
from lxml import html
from urllib.parse import urlencode, quote_plus, unquote

### 전기차 충전소 정보, 충전소 상태 알아보기 
#### 전기차 충전소 정보 
- 전부 다 가져오는게 필요함 (혹은 특정 날짜부터 불러온다던가)
- 228634개

In [2]:
API_KEY = 'mk3a2Cpi2B10aLh3q2xZ5ULUPdP5u2g7Gyi/pJ85JtIQEWLb3r24A6Ru1EXADOWaOf3gRDSjWVNO/niozayANg=='
gv_info=pd.DataFrame()
for i in range(1,25):
    URL = 'http://apis.data.go.kr/B552584/EvCharger/getChargerInfo?serviceKey={api}&numOfRows=9999&pageNo={num}&dataType=JSON'.format(api=API_KEY,num=i)
    response = requests.get(URL)
    contents = response.text
    json_ob = json.loads(contents)
    body = json_ob['items']['item']
    dataframe = json_normalize(body)
    gv_info = pd.concat([gv_info,dataframe])

KeyboardInterrupt:

In [8]:
gv_info.reset_index(drop=True, inplace=True)
gv_info

,statNm,statId,chgerId,chgerType,addr,location,useTime,lat,lng,busiId,...,zscode,kind,kindDetail,parkingFree,note,limitYn,limitDetail,delYn,delDetail,trafficYn
0,춘천휴게소(부산방향),ME000172,01,06,강원도 춘천시 동산면 원창리,null,,37.8135838,127.7664419,ME,...,51110,C0,C001,N,,N,,Y,충전기 노후화로 철거,N
1,치악휴게소(부산방향),ME000175,01,06,강원도 원주시 신림면 치악로 416,null,,37.2534111,128.0492506,ME,...,51130,C0,C001,N,,N,,Y,충전기 노후화로 철거,N
2,치악휴게소(춘천방향),ME000176,01,06,강원도 원주시 신림면 다리실2길 32,null,,37.2570717,128.0476759,ME,...,51130,C0,C001,N,,N,,Y,충전기 노후화로 철거,N
3,정동진해변 주차장,ME000179,01,06,강원도 강릉시 강동면 정동역길 17,null,,37.6901388,129.0343716,ME,...,51150,B0,B004,N,,N,,Y,충전기 노후화로 철거,N
4,동해문화예술회관,ME000180,01,06,강원도 동해시 평원로 15,null,24시간 이용가능,37.526056,129.11433,ME,...,51170,A0,A004,N,,N,,Y,충전기 노후화로 철거,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159979,청라반도유보라,PL000340,01,02,인천광역시 서구 솔빛로 55,지하주차장,24시간 이용가능,37.525200699,126.62678068,PL,...,28260,H0,H001,Y,,Y,사용 승인 대기중,N,,N
159980,청라반도유보라,PL000340,02,02,인천광역시 서구 솔빛로 55,지하주차장,24시간 이용가능,37.525200699,126.62678068,PL,...,28260,H0,H001,Y,,Y,사용 승인 대기중,N,,N
159981,칼빈대학교,PL000341,01,02,경기도 용인시 기흥구 마북로 184,주차장,24시간 이용가능,37.3051459,127.1286864,PL,...,41460,J0,J001,Y,,Y,사용 승인 대기중,N,,N
159982,칼빈대학교,PL000341,02,02,경기도 용인시 기흥구 마북로 184,주차장,24시간 이용가능,37.3051459,127.1286864,PL,...,41460,J0,J001,Y,,Y,사용 승인 대기중,N,,N
159983,칼빈대학교,PL000341,03,02,경기도 용인시 기흥구 마북로 184,주차장,24시간 이용가능,37.3051459,127.1286864,PL,...,41460,J0,J001,Y,,Y,사용 승인 대기중,N,,N

In [9]:
gv_info[gv_info['addr'].str.contains('송파구')]

,statNm,statId,chgerId,chgerType,addr,location,useTime,lat,lng,busiId,...,zscode,kind,kindDetail,parkingFree,note,limitYn,limitDetail,delYn,delDetail,trafficYn
40,아시아공원 공영주차장,ME174028,01,06,서울특별시 송파구 잠실동 84,null,24시간 이용가능,37.5102969,127.0788121,ME,...,11710,B0,B001,N,,N,,N,,N
41,아시아공원 공영주차장,ME174028,02,06,서울특별시 송파구 잠실동 84,null,24시간 이용가능,37.5102969,127.0788121,ME,...,11710,B0,B001,N,,N,,N,,N
42,아시아공원 공영주차장,ME174028,03,06,서울특별시 송파구 잠실동 84,null,24시간 이용가능,37.5102969,127.0788121,ME,...,11710,B0,B001,N,,N,,N,,N
43,롯데마트 송파점,ME174029,01,06,서울특별시 송파구 중대로 80,null,24시간 이용가능,37.4918392,127.1178931,ME,...,11710,E0,E001,N,,N,,N,,N
1746,마천동2공영주차장,ME18B179,01,06,서울특별시 송파구 성내천로299-7,null,24시간 이용가능,37.49427,127.15624,ME,...,11710,B0,B001,Y,,N,,N,,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159243,위례포레샤인23단지,PL000223,19,02,서울특별시 송파구 위례순환로 477,지하주차장,24시간 이용가능,37.475110000,127.13655809,PL,...,11710,H0,H001,Y,,Y,거주자외 출입제한,N,,N
159244,위례포레샤인23단지,PL000223,20,02,서울특별시 송파구 위례순환로 477,지하주차장,24시간 이용가능,37.475110000,127.13655809,PL,...,11710,H0,H001,Y,,Y,거주자외 출입제한,N,,N
159245,위례포레샤인23단지,PL000223,21,02,서울특별시 송파구 위례순환로 477,지하주차장,24시간 이용가능,37.475110000,127.13655809,PL,...,11710,H0,H001,Y,,Y,거주자외 출입제한,N,,N
159246,위례포레샤인23단지,PL000223,22,02,서울특별시 송파구 위례순환로 477,지하주차장,24시간 이용가능,37.475110000,127.13655809,PL,...,11710,H0,H001,Y,,Y,거주자외 출입제한,N,,N
159247,위례포레샤인23단지,PL000223,23,02,서울특별시 송파구 위례순환로 477,지하주차장,24시간 이용가능,37.475110000,127.13655809,PL,...,11710,H0,H001,Y,,Y,거주자외 출입제한,N,,N

In [10]:
gv_info.columns

Index(['statNm', 'statId', 'chgerId', 'chgerType', 'addr', 'location',
       'useTime', 'lat', 'lng', 'busiId', 'bnm', 'busiNm', 'busiCall', 'stat',
       'statUpdDt', 'lastTsdt', 'lastTedt', 'nowTsdt', 'powerType', 'output',
       'method', 'zcode', 'zscode', 'kind', 'kindDetail', 'parkingFree',
       'note', 'limitYn', 'limitDetail', 'delYn', 'delDetail', 'trafficYn'],
      dtype='object')

In [11]:
# 다 있지 않음 
import pickle
with open('gv_info.pickle', 'wb') as f:
    pickle.dump(gv_info, f)

#### 전기차 충전소 상태(어디에 필요한 것이지?) 
- 1951개

In [13]:
API_KEY = 'mk3a2Cpi2B10aLh3q2xZ5ULUPdP5u2g7Gyi/pJ85JtIQEWLb3r24A6Ru1EXADOWaOf3gRDSjWVNO/niozayANg=='
gv_stat=pd.DataFrame()
for i in range(1,2):
    URL = 'http://apis.data.go.kr/B552584/EvCharger/getChargerStatus?serviceKey={api}&numOfRows=9999&pageNo={num}&dataType=JSON'.format(api=API_KEY,num=i)
    response = requests.get(URL)
    contents = response.text
    json_ob = json.loads(contents)
    body = json_ob['items']['item']
    dataframe = json_normalize(body)
    gv_stat = pd.concat([gv_stat,dataframe])

C:\Users\윤유진\AppData\Local\Temp\ipykernel_19644\2581748037.py:9: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  dataframe = json_normalize(body)

In [18]:
gv_info['statId'].value_counts()

SF002802    100
SF001347    100
SF002338     99
SF002101     99
HSH00297     99
           ...
JE040067      1
JE020154      1
JE020152      1
JE020151      1
YY180001      1
Name: statId, Length: 60403, dtype: int64

In [17]:
gv_stat

,busiId,statId,chgerId,stat,statUpdDt,lastTsdt,lastTedt,nowTsdt
0,ME,ME174025,01,2,20230612191512,20230612184237,20230612191510,
1,ME,ME174062,01,3,20230612191139,20230612155441,20230612161147,20230612191138
2,ME,ME174069,01,2,20230612191554,20230612183319,20230612191552,
3,ME,ME174070,01,2,20230612191525,20230612183600,20230612191524,
4,ME,ME174108,01,2,20230612191147,20230612183648,20230612191145,
...,...,...,...,...,...,...,...,...
1946,TD,TDJ00089,01,2,20230612191520,20230608135814,20230608143146,20230608135814
1947,TD,TDMD0008,04,2,20230612191520,20230612072039,20230612105923,20230612072039
1948,TD,TDO00035,01,1,20230612191521,20230408230419,20230409033453,20230408230419
1949,US,US200416,01,2,20230612191930,20230612185237,20230612191927,
1950,VT,VTE00007,02,2,20230612191523,20230612152928,20230612152928,20230612152928

#### 서울시 행정동 단위 서울 생활인구(다시해야함) 
- 최근 6개월의 송파구 행정동 가져오기

In [ ]:
# API_KEY = '566645434c626c7539316c726d5454'
dong_pop = pd.DataFrame()

month = ["%.2d" % i for i in range(1,7)]
daylist = ["%.2d" % j for j in range(1,32)]
donglist = ['11710510',
            '11710520',
            '11710531',
            '11710532',
            '11710540',
            '11710550',
            '11710561',
            '11710562',
            '11710566',
            '11710570',
            '11710580',
            '11710590',
            '11710600',
            '11710610',
            '11710620',
            '11710631',
            '11710632',
            '11710641',
            '11710642',
            '11710650',
            '11710690',
            '11710710',
            '11710720',
            '11710670',
            '11710680',
            '11710646',
            '11710647']


#url 입력
for mon in month:
    for day in daylist:
        for dong in donglist:
            try:
                URL = 'http://openapi.seoul.go.kr:8088/566645434c626c7539316c726d5454/json/SPOP_LOCAL_RESD_DONG/1/1000/2023{}{}/ /{}'.format(mon,day,dong)
    
                response = requests.get(URL)
                contents = response.text
                json_ob = json.loads(contents)
                body = json_ob['SPOP_LOCAL_RESD_DONG']['row']
                dataframe = json_normalize(body)
                print(dataframe.tail(3))
                dong_pop = pd.concat([dong_pop,dataframe])
            except Exception as e: 
                print('해당 데이터가 없습니다',mon,day,dong)

In [4]:
# #temp
# dong_pop = pd.DataFrame()
# URL = 'http://openapi.seoul.go.kr:8088/566645434c626c7539316c726d5454/json/SPOP_LOCAL_RESD_DONG/1/1000/20230401/ /11710510'
   
# response = requests.get(URL)
# contents = response.text
# json_ob = json.loads(contents)
# body = json_ob['SPOP_LOCAL_RESD_DONG']['row']

# dataframe = json_normalize(body)
# print(dataframe.tail(3))
# dong_pop = pd.concat([dong_pop,dataframe])

   STDR_DE_ID TMZON_PD_SE ADSTRD_CODE_SE TOT_LVPOP_CO MALE_F0T9_LVPOP_CO  \
21   20230401          21       11710510   15729.7676           501.9516
22   20230401          22       11710510   16068.6905           494.9928
23   20230401          23       11710510   14962.0643           512.8582

   MALE_F10T14_LVPOP_CO MALE_F15T19_LVPOP_CO MALE_F20T24_LVPOP_CO  \
21             255.8772             310.4148             305.2394
22             252.3299             324.8687             336.5722
23              261.437             318.5401             299.7623

   MALE_F25T29_LVPOP_CO MALE_F30T34_LVPOP_CO  ... FEMALE_F25T29_LVPOP_CO  \
21             478.2509             518.4941  ...               524.4977
22             511.8111             512.1523  ...               532.7563
23             444.2285              477.729  ...               443.6862

   FEMALE_F30T34_LVPOP_CO FEMALE_F35T39_LVPOP_CO FEMALE_F40T44_LVPOP_CO  \
21                615.253               627.3959               622.3713
22               603.8978               705.0638               634.5297
23               541.3949                597.945               517.2178

   FEMALE_F45T49_LVPOP_CO FEMALE_F50T54_LVPOP_CO FEMALE_F55T59_LVPOP_CO  \
21               747.9462               639.7802               630.1258
22               739.4328               602.5698               669.9447
23               729.8158               574.2903               649.3434

   FEMALE_F60T64_LVPOP_CO FEMALE_F65T69_LVPOP_CO FEMALE_F70T74_LVPOP_CO
21               742.9597               533.2709              1148.2155
22               738.7694                568.052              1153.0816
23               697.2907               529.4322              1083.3351

[3 rows x 32 columns]

C:\Users\윤유진\AppData\Local\Temp\ipykernel_9808\3766195364.py:10: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  dataframe = json_normalize(body)

In [3]:
dong_pop

,STDR_DE_ID,TMZON_PD_SE,ADSTRD_CODE_SE,TOT_LVPOP_CO,MALE_F0T9_LVPOP_CO,MALE_F10T14_LVPOP_CO,MALE_F15T19_LVPOP_CO,MALE_F20T24_LVPOP_CO,MALE_F25T29_LVPOP_CO,MALE_F30T34_LVPOP_CO,...,FEMALE_F25T29_LVPOP_CO,FEMALE_F30T34_LVPOP_CO,FEMALE_F35T39_LVPOP_CO,FEMALE_F40T44_LVPOP_CO,FEMALE_F45T49_LVPOP_CO,FEMALE_F50T54_LVPOP_CO,FEMALE_F55T59_LVPOP_CO,FEMALE_F60T64_LVPOP_CO,FEMALE_F65T69_LVPOP_CO,FEMALE_F70T74_LVPOP_CO
0,20230401,00,11710510,15622.2448,538.3067,274.4096,348.5914,314.6288,458.2076,494.5771,...,469.879,581.6321,694.4724,573.6555,736.289,597.1327,680.5513,750.1855,541.6829,1179.1359
1,20230401,01,11710510,16000.6642,572.0595,291.6157,371.1987,305.6667,451.5677,519.6217,...,484.0576,605.9939,700.7693,580.5776,745.6472,618.3115,677.1131,772.5218,537.3694,1212.5227
2,20230401,02,11710510,15965.2587,580.899,296.1214,391.8712,329.5107,468.0896,506.4762,...,475.2625,612.4722,700.2231,569.3726,744.0727,613.292,672.7115,783.8317,542.1772,1153.0341
3,20230401,03,11710510,15998.0426,569.7651,290.4459,379.9986,340.8163,441.4233,529.3492,...,482.3581,592.2744,702.534,567.0366,749.7718,613.9022,643.8261,781.9466,561.9836,1188.4636
4,20230401,04,11710510,16182.6179,585.3307,298.381,390.1002,347.3759,471.2202,527.6127,...,498.2409,599.2516,711.9918,591.5854,762.0458,626.5068,688.9732,785.1283,575.4439,1160.5875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,20230609,19,11710647,43844.8331,4202.3845,1394.0984,991.0259,827.7402,891.0275,1082.7004,...,883.7356,1587.5778,2638.4508,2583.7509,1998.415,1534.913,1685.9223,1148.5719,816.4152,1799.5144
20,20230609,20,11710647,44696.9625,4159.4693,1379.8618,1068.9591,828.5704,917.7436,1059.4404,...,977.1176,1592.3021,2618.6943,2628.0883,1951.8466,1431.3419,1656.9126,1148.5152,850.0003,1767.6726
21,20230609,21,11710647,44562.9756,4004.459,1328.4386,1050.0531,815.6263,916.2852,1129.2901,...,1044.2592,1578.0565,2500.1261,2476.938,2048.9926,1443.6085,1603.671,1103.2977,860.1747,1775.5914
22,20230609,22,11710647,45292.0613,4218.9384,1399.59,1219.5378,860.4663,924.9063,1126.6265,...,1022.9125,1520.6608,2519.8846,2426.3379,2034.2363,1484.21,1601.4152,1050.1723,829.1685,1759.8936
23,20230609,23,11710647,48847.6225,5177.7385,1717.6625,1248.6962,902.0453,997.4574,1240.079,...,1031.4058,1617.6152,2745.454,2834.685,2105.1161,1593.875,1605.0527,1026.502,893.0105,1651.8795

In [4]:
import pickle
with open('dong_pop.pickle', 'wb') as f:
    pickle.dump(dong_pop, f)

In [ ]:
"""교통량 데이터"""
from tqdm import tqdm
API_KEY = '566645434c626c7539316c726d5454'
traffic = pd.DataFrame()

spotlist = ['B-12','C-18','C-20','D-44','D-45']
month = ["%.2d" % i for i in range(1,7)]
daylist = ["%.2d" % j for j in range(1,32)]
timelist = ["%.2d" % k for k in range(1,25)]

#url 입력
for spot in tqdm(spotlist) :
    for mon in tqdm(month) : 
        for day in daylist :
            for time in timelist :
                URL = 'http://openapi.seoul.go.kr:8088/566645434c626c7539316c726d5454/xml/VolInfo/1/999/{}/2023{}{}/{}/'.format(spot,mon,day,time)
                params ={'KEY' : '566645434c626c7539316c726d5454', 
                'TYPE' : 'xml', 
                'SERVICE' : 'VolInfo', 
                'START_INDEX' : 1, 
                'END_INDEX' : 9999}

                response = requests.get(URL, params=params)
                contents = response.text
                xml_obj = bs4.BeautifulSoup(contents,'lxml-xml')
                rows = xml_obj.findAll('row')

                # 각 행의 컬럼, 이름, 값을 가지는 리스트 만들기
                row_list = [] # 행값
                name_list = [] # 열이름값
                value_list = [] #데이터값

                # xml 안의 데이터 수집
                for i in range(0, len(rows)):
                    columns = rows[i].find_all()
                    #첫째 행 데이터 수집
                    for j in range(0,len(columns)):
                        if i ==0:
                            # 컬럼 이름 값 저장
                            name_list.append(columns[j].name)
                        # 컬럼의 각 데이터 값 저장
                        value_list.append(columns[j].text)
                    # 각 행의 value값 전체 저장
                    row_list.append(value_list)
                    # 데이터 리스트 값 초기화
                    value_list=[]

                dataframe = pd.DataFrame(row_list, columns=name_list)
                print(dataframe.tail(3))
                traffic = pd.concat([traffic , dataframe])

In [82]:
traffic

   spot_num       ymd  hh io_type lane_num  vol
0      B-12  20230101  01       1        6    0
0      B-12  20230101  02       1        6    0
0      B-12  20230101  03       1        6    2
0      B-12  20230101  04       1        6   10
0      B-12  20230101  05       1        6   15
..      ...       ...  ..     ...      ...  ...
7      D-45  20230613  20       2        1  171
8      D-45  20230613  20       2        2  426
9      D-45  20230613  20       2        3  442
10     D-45  20230613  20       2        4  422
11     D-45  20230613  20       2        5  142

[121870 rows x 6 columns]

In [83]:
import pickle
with open('traffic.pickle', 'wb') as f:
    pickle.dump(traffic, f)

In [63]:
"""서울시 교통량 지점 정보"""

API_KEY = '566645434c626c7539316c726d5454'
# traffic = pd.DataFrame()

#url 입력
URL = f'http://openapi.seoul.go.kr:8088/566645434c626c7539316c726d5454/xml/SpotInfo/1/1000/'
params ={'KEY' : '566645434c626c7539316c726d5454', 
'TYPE' : 'xml', 
'SERVICE' : 'SpotInfo', 
'START_INDEX' : 1, 
'END_INDEX' : 9999}

response = requests.get(URL, params=params)
contents = response.text
xml_obj = bs4.BeautifulSoup(contents,'lxml-xml')
rows = xml_obj.findAll('row')

# 각 행의 컬럼, 이름, 값을 가지는 리스트 만들기
row_list = [] # 행값
name_list = [] # 열이름값
value_list = [] #데이터값

# xml 안의 데이터 수집
for i in range(0, len(rows)):
    columns = rows[i].find_all()
    #첫째 행 데이터 수집
    for j in range(0,len(columns)):
        if i ==0:
            # 컬럼 이름 값 저장
            name_list.append(columns[j].name)
        # 컬럼의 각 데이터 값 저장
        value_list.append(columns[j].text)
    # 각 행의 value값 전체 저장
    row_list.append(value_list)
    # 데이터 리스트 값 초기화
    value_list=[]

spotinfo = pd.DataFrame(row_list, columns=name_list)
print(spotinfo)

    spot_num      spot_nm      grs80tm_x      grs80tm_y
0       A-01    성산로(금화터널)         195489         452136
1       A-02    사직로(사직터널)  196756.776106  452546.638644
2       A-03  자하문로(자하문터널)  197216.855046  454350.990432
3       A-04   대사관로(삼청터널)  198648.893154  455200.108465
4       A-05     율곡로(안국역)  198645.671347  452937.216603
..       ...          ...            ...            ...
134     F-06       경부고속도로         202107         443264
135     F-07        분당수서로         207716         444241
136     F-08  강남순환로(관악터널)         191832         437667
137     F-09     서부간선지하도로         189706         441044
138     F-10     신월여의지하도로         187350         447719

[139 rows x 4 columns]

In [79]:
spotinfo.to_csv('도로명코드.csv',encoding='utf-8-sig')

In [61]:
xml_obj

<?xml version="1.0" encoding="utf-8"?>
<RESULT><CODE>ERROR-336</CODE><MESSAGE>데이터요청은 한번에 최대 1000건을 넘을 수 없습니다.
요청종료위치에서 요청시작위치를 뺀 값이 1000을 넘지 않도록 수정하세요.</MESSAGE></RESULT>